@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body,
html {
  max-width: 100%;
  min-height: 100vh;
  min-width: 360px; }

body {
  background-color: #2e005e;
  color: #090b01;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 18px;
  position: relative;
  width: 100%; }

h2 {
  font-size: 1rem; }

dl,
ol,
p,
ul {
  font-size: 1rem; }

li,
p {
  line-height: 1.5; }

ul {
  list-style: none; }

a {
  color: #108295;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

input {
  background-color: #090b01;
  border: #595454;
  border-radius: 2px; }

.btn {
  border: 2px solid; }

.lay-box {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center; }

.lay-flex-container {
  display: flex;
  justify-content: space-between; }

.section {
  margin-top: 100px; }

.wrap {
  overflow-x: hidden; }

.hdr {
  background-color: #f9c500;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11; }

.hdr-brand {
  color: #2e005e;
  font-size: 1.5rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap; }

.hdr-navbar {
  background-color: rgba(9, 11, 1, 0.9);
  height: 100%; }
  .hdr-navbar .hdr-icon {
    border: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .hdr-navbar a {
    border-bottom: 1px solid #595454;
    color: #2e005e;
    display: none;
    float: left;
    font-size: 1rem;
    height: 80px;
    padding: 14px 16px; }
    .hdr-navbar a .fa-bars {
      color: #2e005e;
      display: block;
      float: right; }
    .hdr-navbar a:hover {
      background-color: #f9c500;
      color: #090b01;
      text-decoration: none; }
    .hdr-navbar a:last-child {
      display: block; }

.hdr-navbar.responsive {
  position: relative;
  width: 300px; }
  .hdr-navbar.responsive a {
    display: block;
    float: none;
    text-align: left; }
  .hdr-navbar.responsive:hover {
    text-decoration: none; }
  .hdr-navbar.responsive .hdr-icon {
    background-color: #f9c500;
    position: absolute;
    right: 0;
    top: 0; }
    .hdr-navbar.responsive .hdr-icon .fa-bars {
      color: #090b01; }

.hdr-user-link .hdr-text {
  color: #2e005e;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-size: 1rem; }

.hdr-user-link .far {
  color: #2e005e; }

.hdr-user-link .fas {
  color: #f9c500; }

.hdr-user-link .fa-user {
  float: right;
  font-size: 50px;
  position: absolute;
  right: 80px;
  top: 10px; }

.form {
  margin-left: auto;
  margin-right: auto;
  width: 75%; }

.ftr {
  background-color: rgba(9, 11, 1, 0.9);
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 9; }
  .ftr .ftr-info {
    color: #2e005e;
    font-size: 18px;
    text-align: center; }

.hero-banner-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-radius: 7px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  top: -30px;
  width: 1200px; }

.hero-banner-wrap {
  margin-top: 80px; }

.login-box {
  align-items: center;
  background-color: #090b01;
  box-shadow: 3px 3px 3px #595454;
  color: #595454;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 300px; }

.login-title {
  position: absolute;
  top: 80px; }

.signin-btn {
  position: absolute;
  top: 300px; }

@media screen and (min-width: 600px) {
  .hero-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/img/YukiBdayCard.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%; }
    .hero-banner .hero-text {
      color: #2e005e;
      position: relative;
      text-align: center;
      top: 300px; }
      .hero-banner .hero-text a {
        color: #2e005e; } }
