* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body,
html {
  font-family: mallory, Helvetica Neue, Helvetica, Arial, sans-serif;
  max-width: 100%;
  min-height: 100vh;
  min-width: 320px; }

body {
  background-color: #fff;
  color: #373338;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  position: relative;
  width: 100%; }

dl,
ol,
p,
ul {
  font-size: 1rem; }

li,
p {
  line-height: 1.5; }

ol,
ul {
  list-style: none;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0;
  margin-inline-start: 0;
  margin-top: 0;
  outline: 0;
  padding: 0; }

a {
  background-color: transparent;
  color: #fff;
  text-decoration: none; }
  a:hover {
    background-color: inherit;
    color: #fde0ff;
    text-decoration: none; }

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

input {
  background-color: #090b01;
  border: #595454;
  border-radius: 2px; }

label {
  color: #fff; }

.btn,
.ficon,
img {
  vertical-align: middle; }

.ficon {
  font-family: icons;
  text-rendering: optimizeLegibility; }

.btn {
  border: 2px solid;
  font-weight: 600;
  height: 40px; }
  .btn:active {
    transform: translate(2px, 2px); }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.link {
  font-size: 1.5rem; }

.main-header {
  background-color: transparent;
  color: #fff;
  display: inline-block;
  height: 60px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%; }

.header-menu {
  display: inline-block;
  margin: 0; }

.header-container {
  display: flex;
  padding: 0 16px; }

.header-container__item--left {
  display: block; }

.logo-and-links-menu__logo-container {
  display: inline-block;
  line-height: 60px;
  position: relative; }

.logo-and-links-menu__yamagata-hotels-logo {
  height: 40px; }
  .logo-and-links-menu__yamagata-hotels-logo:hover {
    opacity: .7; }

.logo-and-links-menu__yamagata-hotels-link {
  display: inline-block; }

.link-container {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
  position: relative; }

.nav-list {
  position: relative; }
  .nav-list hr {
    display: none; }

.hdr-icon {
  margin: 15px;
  position: absolute;
  right: 0;
  top: 0; }

.nav-list {
  display: block; }

.link-container__link-wrapper {
  cursor: pointer;
  display: block;
  position: relative; }

.link-container__link {
  display: inline-block;
  font-weight: 700;
  line-height: 60px;
  padding: 0 10px; }
  .link-container__link:link,
  .link-container__link :focus,
  .link-container__link :visited {
    color: #fff;
    text-decoration: none; }
  .link-container__link:hover {
    color: #fde0ff; }

.header-menu__group {
  padding: 10px 10px 10px 0; }
  .header-menu__group:last-child {
    padding-right: 40px; }

.header-user-link {
  line-height: 45px; }

.form {
  margin-left: 0;
  margin-right: auto;
  width: 75%; }

.wrap {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3)), url("//media.gettyimages.com/photos/asakura-fuji-sengenjinja-and-mtfuji-picture-id531114971");
  background-position: center;
  background-size: cover; }

.title {
  margin-bottom: 50px; }

.hotel-link:hover {
  opacity: .7; }

.container {
  margin-top: 100px; }

.ftr {
  background-color: rgba(55, 51, 56, 0.7);
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 9; }
  .ftr .ftr-info {
    color: #fff;
    font-size: 14px;
    text-align: center; }

.thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  height: 50px;
  right: 50px;
  width: 50px; }

.hotel-thumbnail {
  position: relative; }

.hotel-img {
  width: 100%; }

.hotel-info {
  color: #fff; }

.signin-box {
  background-color: #fde0ff;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px #595454;
  color: #373338;
  display: block;
  height: 400px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  top: 70px;
  width: 310px; }

.signin-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -20px;
  width: 200px; }

.signin-title {
  color: #373338;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  top: 60px; }

.signin-btn {
  background-color: #498fff;
  background-image: linear-gradient(#498fff, #427bd6);
  background-repeat: repeat-x;
  border: 0;
  border-color: #427bd6;
  box-shadow: 1px 1px 1px #595454;
  color: #fff;
  position: relative;
  top: 200px; }

.signin-result {
  position: relative;
  top: 40px; }

@media screen and (max-width: 600px) {
  .navigation {
    display: none; }
  .navigation.visible {
    background-color: #fde0ff;
    border-radius: 3px;
    display: block;
    height: 100vh;
    position: absolute;
    right: 0;
    width: 300px; }
    .navigation.visible .username {
      display: none; }
    .navigation.visible li {
      border-bottom: 1px solid #595454;
      margin-left: auto;
      margin-right: auto;
      width: 95%; }
    .navigation.visible a {
      color: #373338;
      margin-left: 10px;
      width: 100%; } }

@media screen and (min-width: 600px) {
  .navigation {
    display: inline-block; }
  .header-container__item--left {
    display: inline-block;
    float: left;
    position: relative; }
  .nav-list hr {
    background: #fff;
    border: 0;
    display: block;
    height: .2rem;
    margin: 0;
    transition: all .2s ease-in-out; }
  .link-container__link-wrapper {
    display: inline-block; }
  .header-container__space {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto; }
  .header-container__item--right {
    display: inline-flex; }
  .hdr-icon {
    display: none; }
  .hotel-img {
    height: 400px;
    width: 700px; } }
