* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body,
html {
  font-family: mallory, Helvetica Neue, Helvetica, Arial, sans-serif;
  max-width: 100%;
  min-height: 100vh;
  min-width: 360px; }

body {
  background-color: #e3e0e5;
  color: #108295;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  position: relative;
  width: 100%; }

dl,
ol,
p,
ul {
  font-size: 1rem; }

li,
p {
  line-height: 1.5; }

ol,
ul {
  list-style: none;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0;
  margin-inline-start: 0;
  margin-top: 0;
  outline: 0;
  padding: 0; }

a {
  background-color: transparent;
  color: #e3e0e5;
  text-decoration: none; }
  a:hover {
    background-color: inherit;
    color: #108295;
    text-decoration: none; }

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

input {
  background-color: #090b01;
  border: #595454;
  border-radius: 2px; }

.btn,
.ficon,
img {
  vertical-align: middle; }

.ficon {
  font-family: icons;
  text-rendering: optimizeLegibility; }

.btn {
  border: 2px solid; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.main-header {
  background-color: transparent;
  color: #e3e0e5;
  display: inline-block;
  height: 60px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%; }

.header-menu {
  display: inline-block;
  margin: 0; }

.header-container {
  display: flex;
  padding: 0 16px; }

.header-container__item--left {
  display: inline-flex;
  flex: none; }

.logo-and-links-menu__logo-container {
  display: inline-block;
  line-height: 60px;
  position: relative; }

.logo-and-links-menu__yamagata-hotels-logo {
  height: 60px;
  vertical-align: 0; }
  .logo-and-links-menu__yamagata-hotels-logo:hover {
    opacity: .7; }

.logo-and-links-menu__yamagata-hotels-link {
  display: inline-block; }

.link-container {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
  position: relative; }

@-moz-document url-prefix() {
  .nav hr {
    float: left; } }

.link-container__link-wrapper {
  cursor: pointer;
  display: inline-block; }

.link-container__link {
  display: inline-block;
  font-weight: 700;
  line-height: 60px;
  min-width: 44px;
  padding: 0 10px; }
  .link-container__link:link,
  .link-container__link :focus,
  .link-container__link :visited {
    color: #e3e0e5;
    text-decoration: none; }
  .link-container__link:hover {
    color: #108295; }

.nav hr {
  background: #e3e0e5;
  border: 0;
  display: block;
  height: .2rem;
  margin: 0;
  transition: all .2s ease-in-out; }

.header-container__space {
  flex: none;
  margin-left: auto;
  margin-right: auto;
  width: 100px; }

.header-container__item--right {
  display: inline-flex; }

.header-menu--right {
  display: flex; }

.header-menu__group {
  display: inline-flex;
  padding: 10px 10px 10px 0; }

.header-user-link {
  line-height: 45px; }

.container {
  margin: 80px 8% 60px; }

.form {
  margin-left: auto;
  margin-right: auto;
  width: 75%; }

.wrap {
  background: linear-gradient(rgba(255, 255, 255, 0), white), url("//media.gettyimages.com/photos/asakura-fuji-sengenjinja-and-mtfuji-picture-id531114971");
  background-position: center;
  background-size: cover; }

.ftr {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 9; }
  .ftr .ftr-info {
    color: #e3e0e5;
    font-size: 14px;
    text-align: center; }

.hero-banner-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-radius: 7px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  top: -30px;
  width: 900px; }

.hero-banner-wrap {
  margin-top: 100px; }

.thumbnail {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  height: 50px;
  position: relative;
  right: 50px;
  width: 50px; }

.hotel-img {
  height: 200px;
  width: 350px; }

.hotel-info {
  color: #e3e0e5; }

.login-box {
  align-items: center;
  background-color: #090b01;
  box-shadow: 3px 3px 3px #595454;
  color: #595454;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 300px; }

.login-title {
  position: absolute;
  top: 80px; }

.signin-btn {
  position: absolute;
  top: 300px; }

@media screen and (min-width: 600px) {
  .header-dropdown__hamburger {
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 0;
    padding: 0 10px; } }
