{% extends 'base.html' %}
{% block body %}
{% with messages = get_flashed_messages()%}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
<h1 class="page-title heading">Lodgings</h1>
<div class="hotels">
    <ul>
    {% for hotel in hotels %}
        <li>
            <a class="hotel-name img" href="{{ url_for('showHotel', hotel_id=hotel.id) }}" title="{{ hotel.name }}"><span class="img" style="background-image:url('{{ hotel.picture }}');"></span>
            </a>
            <a class="hotel-name" href="{{ url_for('showHotel', hotel_id=hotel.id) }}" title="{{ hotel.name }}">{{ hotel.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
