{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}


<!-- GOOGLE SIGN IN BUTTON -->
<section>
    {% if 'username' not in session %}
    <div class="signin-box">
        <img src="/static/img/basho_logo.svg" class="signin-logo" alt="basho logo" title="basho">
        <div class="signin-result">
            <div id="result"></div>
        </div>
        <!-- Check that client is signed in, then remove title-->
        {% if 'username' in session %}
        <h2 class="signin-title">Sign in</h2>
        {% endif %}

            <button id="signinButton" class="btn signin-btn hotels-btn">Sign in with Google</button>
    </div>

    {% else %}
    <div class="signin-box">
        <h3 class="center-text">You are already logged in!</br>Head on over to the <a class="sub-link" href="{{ url_for('showHotels', hotels=hotels) }}" title="Hotel listings">Hotel listings</a> page.</h3>
    </div>
    {% endif %}

</section>

<script>
  $('#signinButton').click(function() {
    // signInCallback defined in step 6.
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
<!-- /GOOGLE SIGNIN BUTTON -->



<script>
function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    $('#signinButton').attr('style', 'display: none');

    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      // Always include an `X-Requested-With` header in every AJAX request,
      // to protect against CSRF attacks.
      headers: {
        'X-Requested-With': 'XMLHttpRequest'
      },
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
           setTimeout(function() {
            window.location.href = "/hotels";
        }, 4000);}
      },
      processData: false,
      data: authResult['code']
    });
  } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
}
</script>
{% endblock %}
