{% extends 'base.html' %}
{% block body %}
    <h1 class="page-title heading">Add New Hotel</h1>
    <form action="{{ url_for('newHotel') }}" method="POST">
        <input type="text" name="name" placeholder="Name of hotel">
        <input type="text" name="picture" placeholder="URL of image">
        <input type="text" name="description" placeholder="Description">
        <input type="number" step="0.01" name="price" placeholder="Room price(in USD)">
        <input type="number" max="5" name="rating" placeholder="Rating">
        <select name="category">
            <option selected>--Choose Category--</option>
            <option value="Bed & Breakfast">Bed & Breakfast</option>
            <option value="Hotel">Hotel</option>
            <option value="Hot Spring Inn">Hot Spring Inn</option>
            <option value="Love Hotel">Love Hotel</option>
            <option value="Ryokan">Ryokan (Japanese Inn)</option>
        </select>

        <input type="submit" value="Add Hotel">
    </form>
    <a class="sub-link" href="{{ url_for('listHotels', hotels=hotels) }}">Cancel</a>
{% endblock %}
