{% extends 'header.html' %}

{% block head %}
<meta name="Description" content="List all of the recommended hotels in Yamagata City, Japan.">
{% endblock %}


{% block body %}
{% with messages = get_flashed_messages()%}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
<div class="container">
    <section>
        <h1 class="page-title">Lodgings</h1>
        <ul>
        {% for hotel in hotels %}
            <li>
                <a class="hotel name img" href="{{ url_for('showHotel', hotel_id=hotel.id) }}" title="{{ hotel.name }}"><span class="thumbnail hotel-thumbnail" {% if hotel.picture %}style="background-image:url('{{ hotel.picture }}');"{% else %}style="background-image:url('/static/img/Ichotels_hotel_48px.svg');"{% endif %}></span>
                </a>
                <h2><a class="hotel hotel-link name-text" href="{{ url_for('showHotel', hotel_id=hotel.id) }}" title="Show {{ hotel.name }}">{{ hotel.name }}</a></h2>
            </li>
        {% endfor %}
        </ul>
    </section>
</div>

{% endblock %}
