{% extends 'header.html' %}


{% block head %}
<meta name="Description" content="List all of the recommended hotels in Yamagata City, Japan.">
{% endblock %}


{% block body %}

{% with messages = get_flashed_messages()%}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

<section class="lay-content hero-banner-wrap">
    <div class="hero-banner">
      <div class="hero-text"></div>
      <div class="hero-banner-box">
      </div>
    </div>
</section>

<section class="main-div">
</section>

<section class="sidebar">
    <h1 class="subtitle">Lodgings</h1>
    <ul>
    {% for hotel in hotels %}
        <li>
            <a class="hotel name img" href="{{ url_for('showHotel', hotel_id=hotel.id) }}" title="{{ hotel.name }}"><span class="img" {% if hotel.picture %}style="background-image:url('{{ hotel.picture }}');"{% else %}style="background-image:url('/static/img/Ichotels_hotel_48px.svg');"{% endif %}></span>
            </a>
            <h1><a class="hotel name-text" href="{{ url_for('showHotel', hotel_id=hotel.id) }}" title="Show {{ hotel.name }}">{{ hotel.name }}</a></h1>
        </li>
    {% endfor %}
    </ul>
</section>

<a class="sub-link" href="{{ url_for('showHotels', hotels=hotels) }}">Back to Lodgings</a>

{% endblock %}
