$font-stack: 'Amatic SC', cursive, 'Work Sans', sans-serif;
$font-title: 'Amatic SC', cursive;
$font-one: 'Fredericka the Great', cursive;
$font-two: 'Barlow Semi Condensed', sans-serif;
$font-size-base: 10px;
$font-size-one: 2rem;
$font-size-two: 1.5rem;
$color-1: #fff;
$color-2: #a30404;
$color-3: #eee;
$color-4: #302626;
$color-5: #f70202;
$color-6: #595454;

//
// Base Rules *************************
//

body,
html {
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  min-width: 360px;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-1;
  color: $color-4;
  font-family: $font-two;
  font-size: $font-size-base;
  width: 100%;
}

h2 {
  font-size: $font-size-one;
}

dl,
ol,
p,
ul {
  font-size: $font-size-two;
}

li,
p {
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  color: $color-5;
  text-decoration: none;
}

input {
  background-color: $color-4;
  border: $color-6;
  border-radius: 2px;
}

//
// Layout Rules ***********************
//
.header {
  background-color: $color-2;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.nav {
  flex-wrap: nowrap;
}

.hd-navbar {
  a {
    color: $color-1;
  }
}

.footer {
  bottom: 0;
}

//
// Modules Rules **********************
//

//
// State Rules ************************
//

//
// Theme Rules ************************
//
