$font-stack: mallory, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-title: 'Amatic SC', cursive;
$font-one: 'Fredericka the Great', cursive;
$font-two: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
$font-size-base: 14px;
$font-size-big: 2rem;
$font-size-one: 1.5rem;
$font-size-two: 1rem;
$color-1: #2e005e;
$color-2: #498fff;
$color-3: #090b01;
$color-4: #fde0ff;
$color-5: #fff;
$color-6: #595454;
$color-7: #427bd6;
$color-8: #373338;
$color-9: #fff;

// ************************************
// Base Rules *************************
// ************************************

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: $font-stack;
  max-width: 100%;
  min-height: 100vh;
  min-width: 320px;
}

body {
  background-color: $color-5;
  color: $color-8;
  font-size: $font-size-base;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  position: relative;
  width: 100%;
}

dl,
ol,
p,
ul {
  font-size: $font-size-two;
}

li,
p {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0;
  margin-inline-start: 0;
  margin-top: 0;
  outline: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  background-color: transparent;
  color: $color-5;
  text-decoration: none;

  &:hover {
    background-color: inherit;
    color: $color-4;
    text-decoration: none;
  }
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

input {
  background-color: $color-3;
  border: $color-6;
  border-radius: 2px;
}

label {
  color: $color-5;
}

.btn,
.ficon,
img {
  vertical-align: middle;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.btn {
  border: 2px solid;
  font-weight: 600;
  height: 40px;

  &:active {
    transform: translate(2px, 2px);
  }
}

.link {
  font-size: $font-size-one;
}
// ************************************
// Layout Rules ***********************
// ************************************

.flex-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

// ************************************
// Module Rules ***********************
// ************************************

// {{ start HEADER }}
header {
  .logo-link {
    padding: 10px;
  }

  .logo {
    height: auto;
    width: 170px;
  }

  .hdr-text {
    font-family: $font-stack;
    font-weight: 600;
  }

  .hidden-item {
    display: none;
  }

  .hdr-icon {
    display: flex;
    float: right;
    margin-bottom: auto;
    margin-right: 10px;
    margin-top: auto;
    padding: 10px;
    z-index: 3;
  }
}

// {{ end HEADER }}

// {{ start FORMS }}
.form {
  margin-left: 0;
  margin-right: auto;
  width: 100%;
}

// {{ end FORMS }}

// {{ start MAIN CONTENT }}
.wrap {
  background: linear-gradient(rgba(#fff, 0), rgba(#000, .5)), url('https://cdn.zekkei-japan.jp/images/spots/g8xzqy1v0erg5885i0uewo25wyselax8a.jpg');
  background-position: center;
  background-size: cover;
}

.page-title {
  margin-bottom: 50px;
}

.hotel-link {
  &:hover {
    opacity: .7;
  }
}

.container {
  margin-bottom: 50px;
  margin-top: 100px;
}

// {{ end MAIN CONTENT }}

// {{ start FOOTER }}
.ftr {
  background-color: rgba($color-8, .7);
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 9;

  .ftr-info {
    color: $color-5;
    font-size: $font-size-base;
    text-align: center;
  }
}

// {{ end FOOTER }}

.thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  height: 50px;
  right: 50px;
  width: 50px;
}

.hotel-thumbnail {
  position: relative;
}

.hotel-img {
  width: 100%;
}

.hotel-info {
  color: $color-5;
}

// {{ start SIGNIN }}
.signin-box {
  background-color: $color-4;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px $color-6;
  color: $color-8;
  display: block;
  height: 400px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  top: 70px;
  width: 310px;
}

.signin-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -20px;
  width: 200px;
}

.signin-title {
  color: $color-8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  top: 60px;
}

.signin-btn {
  background-color: $color-2;
  background-image: linear-gradient(rgba($color-2, 1), rgba($color-7, 1));
  background-repeat: repeat-x;
  border: 0;
  border-color: $color-7;
  box-shadow: 1px 1px 1px $color-6;
  color: $color-9;
  position: relative;
  top: 200px;
}

.signin-result {
  position: relative;
  top: 40px;

  img {
    margin-left: auto;
    margin-right: auto;
  }
}

// {{ end SIGNIN }}

// ************************************
// State Rules ************************
// ************************************

@media screen and (max-width: 1016px) {

  // ************************************
  // Layout Rules ***********************
  // ************************************

  // ************************************
  // Module Rules ***********************
  // ************************************

  // {{ start HEADER }}
  header {
    .navbar {
      background: $color-4;
      box-shadow: -2px 4px 4px 4px rgba($color-8, .5);
      display: block;
      height: 100vh;
      position: absolute;
      right: -306px;
      top: 0;
      transition: .2s ease-in-out;
      width: 300px;
      z-index: 1;

      ul {
        width: 100%;
      }

      li {
        border-bottom: 1.5px solid rgba($color-6, .5);
        display: block;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }

      a {
        color: $color-8;
        margin-left: 10px;
        width: 100%;
      }

      .hdr-text {
        margin-bottom: auto;
        margin-top: auto;
      }

      .btn {
        border: 0;
        height: inherit;
      }
    }

    .navbar.visible {
      transform: translateX(-306px);
    }
  }

  // {{ end HEADER }}
}

@media screen and (min-width: 1016px) {

  // ************************************
  // Layout Rules ***********************
  // ************************************

  .container {
    margin-top: 40px;
  }

  // ************************************
  // Module Rules ***********************
  // ************************************

  // {{ start HEADER }}
  header {
    .items {
      display: flex;
    }

    .hidden-item {
      display: flex;
    }

    .nav-links {
      justify-content: flex-start;
    }

    .user-links {
      justify-content: flex-end;
    }

    li {
      margin-bottom: auto;
      margin-top: auto;
      padding: 15px;
    }

    .hdr-icon {
      display: none;
    }
  }

  // {{ end HEADER }}

  .wrap {
    background: none;
  }

  .hero-img {
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    min-height: 450px;
    padding: 50px 0;
    position: relative;
    top: -145px;
    width: 100%;
    z-index: -1;
  }

  .hotel-img {
    border-radius: 50%;
    height: 400px;
    width: 700px;
  }

  // {{ start FORMS }}
  .form {
    width: 75%;
  }

  // {{ end FORMS }}

}

// ************************************
// Theme Rules ************************
// ************************************
